<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="container mt-5">
        <h2>Todays ordered ID cards</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="w-25">ID</th>  <!-- Assign width to 25% -->
                    <th class="w-75">Name</th> <!-- Assign width to 75% -->
                </tr>
            </thead>
            <tbody>
                {% for card in cards %}
                <tr>
                    <td class="w-25">{{ card.student.studentID }}</td>  <!-- Assign width to 25% -->
                    <td class="w-75">{{ card.student.firstname }} {{ card.student.lastname}}</td> <!-- Assign width to 75% -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    

</body>
</html>
